.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    align-items: stretch;
    height: 96vh;
}
       
.header {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 98%;
}
  
.tile {
    width: 300px;
}

.footer {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 98%;
}

.bigtile {
    width: 70%;
    min-width: 300px;
}
